<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>전체 도서 조회</title>
</head>
<body>
	<h1 align="center">전체 도서 조회</h1>
	
	<p align="right">
		<a
			th:href="@{/loginForm}"
			th:text="'로그인 화면이동!!'"
			th:if="${session.login_member == null}">
		</a>
	</p>
	
	<p align="right"
		th:if="${session.login_member != null}"
		th:text="${session.login_member.name} +  '님 로그인 중...'">
	</p>
	
	<p align="right">
		<a th:href="@{logoutControl}"
		th:text="'로그아웃 !!!'"
		th:if="${session.login_member != null}"></a>
	</p>
	
	<table align="center" border="1">
		<tr>
			<th width="150">
				아이디			
			</th>
			<th width="150">
				이름
			</th>
		</tr>
		<tr th:each="book : ${allBook}">
			<td>
				<a
					th:href="@{/selectBook(bookid=${book.bookid})}"
					th:text="'책아이디'+${book.bookid}+'조회 !!'">
				</a>
			</td>
			<td th:text="${book.bookname}">
			</td>
		</tr>
	</table>
	
	<p align="center">
		<a
			th:href="@{/insertBookForm}"
			th:text="'책추가 화면이동!!'"
			th:if="${session.login_member != null}">
		</a>
	</p>
	
	<p align="center">
		<a
			th:href="@{/insertMemberForm}"
			th:text="'회원추가 화면이동!!'">
		</a>
	</p>
	
</body>
</html>